.footage-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: black;
}

.footage-box {
  width: 400px;
  height: 225px;
  position: relative;
  position: absolute;
  box-shadow: 0 16px 16px -8px rgba(0, 0, 0, 0.5),
    0px -8px 16px -8px rgba(70, 70, 70, 0.5),
    0px 4px 16px -1px rgba(70, 70, 70, 0.5),
    0px -8px 36px 1px rgba(70, 70, 70, 0.5),
    0px 8px 64px 1px rgba(70, 70, 70, 0.5);
  transform: scale(0);
  transition: transform 0.75s ease-in-out;
  top: calc(-50vh - 112.5px);
}

.footage-box.visible {
  transform: scale(1);
}

.footage-overlay {
  position: absolute;
  width: 400px;
  height: 225px;
  z-index: 1;
}

.footage-end {
  position: relative;
  height: 1vh;
}

.footage-box.hidden iframe {
  pointer-events: none;
}
