.intro-background {
  color: white;
  height: 100vh;
  width: 100%;
}

.intro-contents {
  transition: opacity 2s ease-in-out;
}

.intro-contents.hidden {
  opacity: 0;
}

.intro-contents.visible {
  opacity: 1;
}

.intro-heading {
  padding: 100px;
}
