* {
  margin: 0;
}

:root {
  --background-color: rgb(24, 24, 24);
  --text-color: rgb(139, 139, 139);
  --highlight-color: rgb(21, 86, 155);
  --subtext-color: rgb(73, 77, 81);
  --font-family: "Roboto Mono", monospace;
}
