* {
  margin: 0;
}

:root {
  --background-color: rgb(40, 40, 40);
  --text-color: rgb(139, 139, 139);
  --highlight-color: rgb(21, 86, 155);
  --subtext-color: rgb(73, 77, 81);
  --font-family: "Roboto Mono", monospace;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  background-color: var(--background-color);
}
