.aboutme-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(0, 0, 0);
}

.aboutme-contents > * {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}

.aboutme-profile {
  display: flex;
  width: 90%;
  font-family: "Inconsolata", monospace;
  color: rgb(228, 228, 228);
  background-color: rgb(15, 15, 15);
  border-radius: var(--border-radius);
  margin-top: 50px;
  height: 100%;
}

.aboutme-profile-picture {
  width: 40%;
  padding: 0 75px 75px 75px;
}

.aboutme-profile-picture img {
  width: 100%;
  border-radius: var(--border-radius);
}

.aboutme-profile-detail {
  align-items: center;
  width: 60%;
  margin-top: 120px;
  padding: 0 75px 75px 0;
}

.aboutme-header {
  font-size: 20px;
  padding: 50px 50px 50px 0;
}

.aboutme-profile-detail > * {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.aboutme-profile-detail-title {
  padding: 30px 10px 30px 0;
  border-bottom: 3px solid rgba(255, 255, 255, 0.1);
  width: 30%;
}

.aboutme-profile-detail-content {
  padding: 30px 0;
  border-bottom: 3px solid rgba(255, 255, 255, 0.1);
  width: 70%;
  z-index: 5;
}

.aboutme-profile-detail-last {
  border-bottom: 0 dashed #ccc;
}

.aboutme-profile-icon {
  padding-right: 17px;
}

.aboutme-timeline {
  display: flex;
  margin: 50px 0;
}

.aboutme-timeline-container {
  width: 85%;
}

.aboutme-timeline-scroll {
  display: flex;
  width: 15%;
  margin-right: 75px;
  overflow: hidden;
}

.aboutme-timeline-scroll-img img {
  height: 100%;
}

.aboutme-end {
  height: 50vh;
  margin: 0;
}

@media (max-width: 767px) {
  .aboutme-profile {
    display: block;
  }

  .aboutme-profile-picture {
    width: 80%;
    padding: 10px;
    margin: 0 auto;
  }

  .aboutme-profile-detail {
    width: 80%;
    padding: 10px;
    margin: 0 auto;
  }

  .aboutme-profile-detail-content {
    text-align: end;
  }

  .aboutme-timeline-container {
    width: 90%;
    margin: 0 auto;
  }

  .aboutme-timeline-scroll {
    display: none;
  }

  .aboutme-timeline {
    margin-top: 80px;
  }

  .aboutme-header,
  .aboutme-profile-detail > * {
    font-size: 17px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .aboutme-timeline-container {
    width: 90%;
  }

  .aboutme-timeline-scroll {
    width: 10%;
  }
  .aboutme-profile-detail > * {
    font-size: 17px;
  }
}
