.aboutme-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(0, 0, 0);
}

.aboutme-contents > * {
  max-width: 1500px;
  width: 100%;
  margin: 0px auto;
}

.aboutme-profile {
  display: flex;
  width: 90%;
  font-family: "Inconsolata", monospace;
  color: rgb(228, 228, 228);
  background-color: rgb(15, 15, 15);
  border-radius: var(--border-radius);
  margin-top: 50px;
}

.aboutme-profile-picture {
  width: 40%;
  padding: 0px 75px 75px 75px;
}

.aboutme-profile-picture img {
  width: 100%;
  border-radius: var(--border-radius);
}

.aboutme-profile-detail {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  width: 60%;
  height: 150px;
  margin-top: 120px;
  padding: 0px 75px 75px 0px;
}

.aboutme-header {
  font-size: 20px;
  padding: 50px 50px 50px 0px;
}

.aboutme-profile-detail > * {
  display: contents;
  font-size: 20px;
}

.aboutme-profile-detail-title {
  padding: 30px 80px 30px 0px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.1);
}

.aboutme-profile-detail-content {
  padding: 30px 0px 30px 0px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.1);
}

.aboutme-profile-detail-content {
  z-index: 5;
}

.aboutme-profile-detail-last {
  border-bottom: 0px dashed #ccc;
}

.aboutme-profile-icon {
  padding-right: 17px;
}

.aboutme-timeline {
  width: 90%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.aboutme-end {
  height: 100vh;
  margin: 0;
}
